html{ height: 100%; width:100%; font-family: "comic sans ms"; }
body { font: 100% sans-serif, Helvetica, Arial, Verdana;
margin: auto; /*margin: 0; padding: 0;*/
text-align: center; /* хак для IE 5* */
color: #000000; /*position:relative; border-bottom: red 1px dotted;*/
word-wrap: break-word;
}

.mv,.mv0 { transition: transform 0.2s ease-in-out; }
.mv:hover,.mv0:hover { transition-property: transform; transition-duration: 0.2s; animation: none; cursor:pointer;}
.mv:hover { transform: scale(1.6); }
.mv0:hover { transform: scale(1.1); }

.e_space { border:1px solid transparent; width:14px;height:15px; }
.e_space:hover { border:1px solid #ccc; border-radius:100%;paddng:0px; }

img {max-width: 100% !important; height: auto !important;}
iframe, textarea, input, button, submit, select {max-width: 98% !important;}

.ik { cursor:pointer; border: 1px solid red; box-shadow: 0px 15px 15px 15px rgba(0,0,0,0.6); border-radius: 7px 7px 7px 7px; padding: 15px 15px 15px 15px; }

.r { font-size: 12px; }
.l,.ll { cursor: pointer; color: blue; text-decoration: underline; } .ll,.il { display: inline; } .l:hover,.ll:hover { color: violet; }

.knop { border: 1px solid #ccc; margin-left: 1px;} .knop:hover { border: 1px solid black; }

.br { font-size: 10px; }

.pop2 { max-width:95%; cursor:move; overflow:visible; top:100px;position:absolute;z-index:999; text-align:left; background:#F0F0EA;
border:5px solid #e75100;box-shadow:0px 16px 16px 16px rgba(0,0,0,0.6);border-radius:16px 16px 16px 16px;padding:16px 16px 16px 16px;
margin-top:3%; margin-bottom:2%;
word-wrap: break-word;
}
.pop2 TEXTAREA {width:100%;}
.can { position:absolute !important; right:-19px;top:-19px; width:32px; height:32px; cursor:pointer; }

.clearfloat,.cf,.q { clear:both; height:0; font-size: 1px; line-height: 0px; }

LEGEND { font-weight: bold; color: #FF6200; font-size: 14px; text-align: left; }
.ajax,.can,.zamok {display:inline-block;vertical-align:baseline;position:relative;overflow:hidden;font-size:0;line-height:0;margin:0;padding:0}

.e_space,.can,.e_bird,.e_edit,.e_ledgreen,.e_ledred,.e_ledyellow,.e_mob-ball,.e_mob-settings,.e_no,.e_upload,.e_yes,.e_zamok {display:inline-block;vertical-align:baseline;position:relative;overflow:hidden;font-size:0;line-height:0;margin:0;padding:0}
.e_space:hover { border:1px solid #ccc; border-radius:100% }

.e_bird{background:url(e.webp) no-repeat 0 16px;background-position:0 0px;width:16px;height:16px}
.e_edit{background:url(e.webp) no-repeat 0 16px;background-position:0 -16px;width:16px;height:16px}
.e_ledgreen{background:url(e.webp) no-repeat 0 16px;background-position:0 -32px;width:16px;height:16px}
.e_ledred{background:url(e.webp) no-repeat 0 16px;background-position:0 -48px;width:16px;height:16px}
.e_ledyellow{background:url(e.webp) no-repeat 0 16px;background-position:0 -64px;width:16px;height:16px}
.can,.e_mob-ball{background:url(e.webp) no-repeat 0 32px;background-position:0 -80px;width:32px;height:32px}
.e_mob-settings{background:url(e.webp) no-repeat 0 32px;background-position:0 -112px;width:32px;height:32px}
.e_no{background:url(e.webp) no-repeat 0 16px;background-position:0 -144px;width:16px;height:16px}
.e_upload{background:url(e.webp) no-repeat 0 16px;background-position:0 -160px;width:16px;height:16px}
.e_yes{background:url(e.webp) no-repeat 0 16px;background-position:0 -176px;width:16px;height:16px}
.e_zamok{background:url(e.webp) no-repeat 0 14px;background-position:0 -192px;width:14px;height:15px}


.ri { position: absolute; top: -0.1px; right: 18px; }
.ri:after { width: 0; height: 0; border-left: 23px solid transparent; border-right: 23px solid transparent; border-top: 10px solid #F8463F; }
.ri span { position: relative; display: block; text-align: center; font-size: 14px; font-weight: bold; line-height: 1; padding: 12px 8px 10px; border-top-right-radius: 8px; width: 30px; }
.ri span:before, .ri span:after,.ri:after  { position: absolute; content: ""; }
.ri span:before { height: 6px; width: 6px; left: -6px; top: 0; }
.ri span:after { height: 6px; width: 8px; left: -8px; top: 0; border-radius: 8px 8px 0 0; background: #C02031; }

.ri span,.ri span:before { background: #F8463F }
/*.ri span,.ri span:before { background: #ce0332 }*/

.logout { position:absolute;top:10px;right:10px;cursor:pointer;font-size:32px; }
.divta { position: relative;max-width:600px;padding:4px;text-align:left; }
.tat { width:100%; border: 3px solid #C3231E; border-radius: 10px; }

.thmbns { margin: -3em 0 0 -1em; text-align:center;}
.thmbn {text-decoration:none; display:inline-block; vertical-align:top; text-align:left; margin:3em 0 0 1em;}
.thmbn .rth {float:left;}

.us,.switch { user-select: none; }
.in { display: inline-block; }

.vcenter { align-items: center; display: inline-flex; }

/* Slider */
.switch { position: relative; display: inline-block; width: 60px; height: 34px; }
.switch input { opacity:0; width:0; height:0; EEEdisplay: none; }
.slider { position:absolute; cursor:pointer; top:0; left:0; right:0; bottom:0; background-color: #ccc; transition:.4s; }
.slider:before { position:absolute; content:""; height:26px; width:26px; left:4px; bottom:4px; background-color:white; transition:.4s; }
input:checked + .slider { background-color: #2196F3; }
input:focus + .slider { box-shadow: 0 0 1px #2196F3; }
input:checked + .slider:before { transform: translateX(26px); }
.slider.round { border-radius: 34px; }
.slider.round:before { border-radius: 50%; }
